* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #bd1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  z-index: 99999999;
}
header .logo {
  padding-left: 30px;
}
header nav {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  margin-left: 200px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
header nav ul li a {
  padding: 20px;
  color: white;
}
header nav ul li a .active {
  color: black;
}
header .gnb {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
header .gnb ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .gnb ul li {
  margin-right: 25px;
}
header .gnb ul li:nth-child(1) a {
  background-color: red;
  border: 1px solid #ff0000;
  color: white;
  font-size: 14px;
}
header .gnb ul li:nth-child(2) a {
  border: 1px solid #ffffff;
  color: white;
  font-size: 14px;
}
header .gnb ul li a {
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 21px;
  padding: 10px 15px;
  color: white;
}
header .service_var {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  right: 65px;
  top: 20px;
  color: white;
}
.sec1 {
  height: 100vh;
}
.sec1 h2 {
  font-size: 4.4vw;
  text-align: center;
}
.sec1 .inline-img {
  display: inline-block;
  vertical-align: middle;
}
.sec1 .inline-img img {
  height: 100px;
  border-radius: 100px;
}

.sec2 {
  width: 100vw;
}
.sec2 .bg {
  position: absolute;
}
.sec2 .bg .overay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50vw;
  height: 100vh;
}
.sec2 .bg img {
  width: 50vw;
  height: 100vh;
}
.sec2 .swiper {
  border: 1px solid #a52e2e;
}
.sec2 .swiper .swiper-pagination {
  position: absolute;
  top: 60%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  pointer-events: none;
}
.sec2 .swiper .swiper-wrapper .swiper-slide > img {
  position: absolute;
  left: 7%;
  top: 6%;
  border-radius: 2%;
}
.sec2 .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .info {
  opacity: 1;
  pointer-events: auto;
}
.sec2 .swiper .swiper-wrapper .swiper-slide .info {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50vw;
  margin-left: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
}
.sec2 .swiper .swiper-wrapper .swiper-slide .info .title1 {
  font-size: 26px;
  color: red;
}
.sec2 .swiper .swiper-wrapper .swiper-slide .info .title2 {
  font-size: 50px;
}
.sec2 .swiper .swiper-wrapper .swiper-slide .info p {
  font-size: 18px;
  color: #333;
  margin: 20px 0 40px;
}
.sec2 .swiper .swiper-wrapper .swiper-slide .info .moreBtn {
  color: white;
  border-color: red;
  border-radius: 31px;
  background-color: red;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 160px;
  height: 62px;
  text-align: center;
  line-height: 62px;
  font-size: 14px;
}